/* Media-Query für kleinere Bildschirme (z. B. Mobile) */
@media screen and (max-width: 768px) {
  
  /* Icons in der .row zentrieren und mehr Platz lassen */
  .row {
    position: relative; /* Verwenden Sie relative Positionierung */
    top: 10%; /* Verwenden Sie Prozentsätze für den Abstand von oben */
    right: 0;
    left: 5%; /* Verwenden Sie Prozentsätze für den linken Abstand */
    justify-content: center;
    gap: 5%; /* Verwenden Sie Prozentsätze für den Abstand zwischen den Icons */
  }

  /* Horizontale Linie zentrieren und weiter unten positionieren */
  .horizontal-line {
    position: relative; /* Verwenden Sie relative Positionierung */
    top: 50%; /* Verwenden Sie Prozentsätze für den Abstand von oben */
    transform: translateY(-50%);
    right: 0; /* Linie erstreckt sich bis zum rechten Rand */
    left: 0; /* Linie erstreckt sich bis zum linken Rand */
    width: 90%; /* Verwenden Sie Prozentsätze für die Breite */
  }

  /* brandBtn oben rechts anzeigen und fixieren */
  .waitlistForm {
    position: fixed;
    top: 0;
    right: 0;
  }
}
