body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000fb;
}

.animation-container {
    position: relative;
}

.text {
    font-weight: 900;
    display: inline-block;
    font-size: 24px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    opacity: 0;
    transform: translateX(0);
    visibility: hidden;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.animation-container:hover .text {
    visibility: visible;
}

body.transitioning {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
